@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background: #434343;
  height: 100vh;
  font-family: 'Anonymous Pro', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal {
  background: #282828;
  width: 600px;
  height: 300px;
  border-radius: 8px;
  overflow-x: hide;
  overflow-y: auto;
  margin-right: 90px;
}

.page {
  background: #282828;
  width: 0px;
  height: 0px;
  border-radius: 8px;
  overflow-x: hide;
  overflow-y: auto;
}

.terminal > p{
  padding-left: 5px;
  color: #ebdbb2;
  font-size: 12px;
  padding-top: 3px;
  margin-top: 25px;
}

.page > p {
  padding-left: 5px;
  color: #ebdbb2;
  font-size: 12px;
  padding-top: 3px;
  margin-top: 15px;
}

.page > h5,h4,h3,h2,h1{
  color: #98971a;
  font-weight: bold;
  padding-left: 5px;
}

p > span {
  color: #458588;
  font-weight: bold;
}

a{
  color: #458588;
  font-weight: bold;
  text-decoration:none;
}
a:hover {
  color: #98971a;
}

p > error {
  color: #fa615c;
}

p > b1 {
  color: #98971a;
  font-weight: bold;
}

.buttons {
  background: #303030;
  border-radius: 7px 7px 0px 0px;
  padding-left: 15px;
  padding-top: 5px;
  display: flex;
  position: fixed;
  width: 600px;
}

.buttons-page {
  background: #303030;
  border-radius: 7px 7px 0px 0px;
  padding-left: 15px;
  padding-top: 5px;
  display: flex;
  position: fixed;
  width: 470px;
  opacity: 0%;
}

.red {
  background: #fa615c;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-top: 2px;
  margin-right: 5px;
}

.yellow {
  background: #ffbd48;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-top: 2px;
  margin-right: 5px;
}

.green {
  background: #3fc950;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-top: 2px;
}

input {
  width: 75%;
  background: none;
  outline: none;
  border: none;
  color: #999;
  letter-spacing: 1px;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 2px;
  caret-color: transparent;
}

label[for="command"] {
  color: #98971a;
  padding-left: 5px;
  font-size: 12px;
  font-weight: bold;
}

.heading {
  color: #888;
  letter-spacing: 0.5px;
  font-size: 14px;
  text-align: center;
  width: 100%;
  padding-bottom: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0px 25px 25px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0px 25px 25px 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.commands {
  color: #ebdbb2;
  font-size: 12px;
  padding-left: 5px;
}

.print {
  width:420px;
  height:auto;
  margin-left:20px;
  border-radius: 2%;
}
